<form  method="POST" action="<%=url%>?_method=DELETE">
    <%if(!url.startsWith('/authors')){%>
        

        <input type="hidden" name="count" value="<%= --book.pageCount%>">
        <button class="btn btn-danger" type="submit">Delete </button>
       
           
   <%}%>
   <%if(url.startsWith('/authors')){%>
   <button class="btn btn-danger" type="submit">Delete </button>
   <%}%>
 
</form>