

<% if (locals.errorMessage != null) { %>
    <div class='title-newbook'>
         <h2>
            <img class = 'icon-editBook'src="https://media.istockphoto.com/vectors/harmful-symbol-warning-sign-vector-illustration-eps10-vector-id1026915588?k=20&m=1026915588&s=170667a&w=0&h=or5PHFS2TkICtRJM5rxmJp4wSDoBu66IS3WR5BdQApM=" alt="">  <%= errorMessage %>
          </h2>
        </div>
 <% } %>         
   

  