<header>
    <nav>
        <a href="/authors">
            MY GIRL
       </a>
       <%if(msg == 'books' || msg =='HELLO TEST'){%>
        <ul>
            <li><a href="/books">All Book</a></li>
            <li><a href="/books/new">Add Books</a></li>
        </ul>
        
        <%}%>
        <%if(msg == 'authors' || msg =='HELLO TEST'){%>
         
           
             <ul>
                <li><a href="/authors">All hàng</a></li>
                <li><a href="/authors/new">Add hàng</a></li>
                <li><a href="/books">Go to Books</a></li>
            </ul>
            
      <%}%>

      
    </nav>
</header>