.header-handle{
    color:red;
    font-size: 20px;
    text-align: center;
    
    margin-left:15px ;

   
    
}
a{
    text-decoration: none;
    color:red;
    font-size: 25px;

   
}
.header-title
{
    text-transform: uppercase;
}
.container
{
    
    display: flex;
    flex-direction: row;
    align-content: space-around;

}
.img-handle
{
    width: 200px;
    height: 200px;
    margin-top: 15px;
}
.title-book
{
    background-color: yellow;
}
h2
{
    color: blue;
    font-size: 25px;
    display: inline-block;
   
}
.title-newbook
{
    display: inline-block;
}
.header-editBook
{
    width: 100%;
    
}
.icon-editBook
{
    width: 25px;
    height: 25px;
}
.Context-warning
{
    margin-left: 35px;
    display: inline-block;
}