
<div class="form-row">
    <div class="form-item">
        <label for="ten">Author Name</label>
        <input id="ten" type="text" name="name" value ="<%= author.name%>">      
    </div>
  
   
</div>

<div class="form-row">

    <div class="form-item">
        <label for="imageName">Image Name</label>
        <input id="imageName" type="text" name="imageName" value ="<%= author.imageName%>">      
    </div>
   
</div>


